/* font-family: 'IBM Plex Sans', sans-serif; 400 and 600 text*/
/* font-family: 'Merriweather', serif; 700 headings*/

/* global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #fff;
}

h1,
h2,
h4,
h5 {
  font-family: 'Merriweather', serif;
}

/* 
left part 
*/
.left-part {
  background: #23252f;
  height: 110%;
}
.left-container {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 720px;
}

/* title */
.title .date {
  font-size: 14px;
}
.title h1 {
  margin: 1rem 0;
  font-size: 1.5rem;
}
.title p {
  font-size: 16px;
}
.title h2 {
  font-size: 1.25rem;
  margin: 2rem 0;
}

/* form */
.single-input {
  margin-bottom: 1rem;
}
.single-input label,
.special-input label {
  display: block;
  font-size: 14px;
}

.single-input input,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  background: transparent;
  border-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 2.5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}
input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.select {
  color: #fff;
}
.select select {
  color: #fff;
}

textarea {
  height: 8rem;
}

.special-input {
  margin-bottom: 2rem;
}
.special-input input {
  display: none;
}
.special-input input + label::before {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 0.6rem;
  margin-right: 0.3rem;
}
.special-input input:checked + label::before {
  background: rgba(255, 255, 255, 0.8);
}

label::before {
  transition: all 0.2s linear;
}

.btn-input input {
  padding: 1.5rem 3rem;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  color: #222;
  transition: all 0.3s linear;
}
.btn-input:hover input {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

/* 
right part 
*/
.right-part {
  background: #2b2d38;
  height: 110%;
}
.right-container {
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 720px;
}

/* contact */

.contact p {
  font-size: 18px;
}
.icons {
  display: grid;
  max-width: fit-content;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}
.icons i {
  cursor: pointer;
  font-size: 1.5rem;
}

/* guest and host */
.guest h4,
.host h4 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 6px;
}
.single-guest,
.hosted {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
}
.info {
  margin-left: 10px;
}
.info h5 {
  font-size: 16px;
}
.info p {
  font-size: 14px;
  margin-top: 5px;
}

.host {
  margin-top: 4rem;
}

/* 1040px */
@media screen and (min-width: 1040px) {
  main {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  .left-container {
    width: 90%;
    margin: 0 auto;
    padding: 4rem 0rem 4rem 10rem;
    max-width: 10400px;
  }
  .right-container {
    padding-left: 4rem;
    max-width: 1040px;
  }
  .right-part {
    display: grid;
    align-items: center;
  }
  .title .date {
    font-size: 16px;
  }
  .title h1 {
    font-size: 2rem;
  }
  .title p {
    font-size: 18px;
  }
  .title h2 {
    font-size: 1.5rem;
  }
  .single-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .single-input input,
  select,
  textarea {
    padding: 1rem;
  }
  .btn-input input {
    padding: 1.5rem 4rem;
  }
}

/* coller à droite la parite de droite */
/* modifier le select */
